<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xiaolangn.mapper.OrderMapper">
	<resultMap type="com.xiaolangn.bean.Order" id="r">
	</resultMap>

	<parameterMap type="com.xiaolangn.bean.Order" id="p"></parameterMap>


    <insert id="newAddOrder" parameterMap="p" useGeneratedKeys="true">
    	INSERT INTO order_info (id,orderType,identificationType,identificationNumber,realName,
    	nationality,contacts,phoneNum,orderPrice,orderNotice,orderSaveTime,isPay,userId) VALUES 
    	(#{id},#{orderType},#{identificationType},#{identificationNumber},#{realName},
    	#{nationality},#{contacts},#{phoneNum},#{orderPrice},#{orderNotice},#{orderSaveTime},#{isPay},#{userId})
    </insert>
    
    <select id="queryOrderById" resultMap="r" parameterType="int">
    	SELECT orderNotice
		FROM order_info WHERE id=#{id}
    </select>
    
    <update id="modifyOrder" parameterMap="p">
    	UPDATE order_info SET isPay=#{isPay} WHERE id=#{id}
    </update>

</mapper>