<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xiaolangn.mapper.ScheduleMapper">
	<resultMap type="com.xiaolangn.bean.Schedule" id="r">
	</resultMap>

	<resultMap type="com.xiaolangn.bean.Schedule" id="ra">
	</resultMap>
	<parameterMap type="com.xiaolangn.bean.Schedule" id="p"></parameterMap>



	<select id="getScheduleByProductId" resultMap="r" parameterType="int">
		SELECT day,content,picture_url
		FROM schedule_info 
		WHERE productId=#{productId}
	</select>




</mapper>